.block {
	background: #fff;
	border-radius: 8px;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.080);
	border-bottom: 1px solid rgba(0, 0, 0, 0.130);
	margin-bottom: 20px;
}

.post_author {
	display: flex;
	align-items: center;
}

.post_link {
	margin-left: 10px;
	color: #2a5885;
	font-weight: 500;
}

.post_avatar {
	width:60px;
	height:60px;
	object-fit:cover;
	border-radius: 50%;
}