.content {
	grid-area: content;
}

.content__block {
	background: #fff;
	border-radius: 8px;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.080);
	border-bottom: 1px solid rgba(0, 0, 0, 0.130);
	margin-bottom: 20px;
}

.content__img {
	width: 100%;
}

.content__add-post {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.content__submit-post {
	padding: 7px 5px;
	background: rgb(134, 75, 202);
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.content__submit-post:hover {
	background: rgb(145, 92, 206);
}

.content__post {

}

.content__post-author {
	position: relative;
	overflow:hidden;
	width:70px;
	height:70px;
}

.content__post-avatar {
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:70px;
	height:70px;
	object-fit:cover;
	border-radius: 50%;
}