.header {
	height: 48px;
	grid-area: header;
	background: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.116);
}

.content {
	height: 100%;
	display: flex;
	align-items: center;
	width: 990px;
	padding: 0 15px;
	margin: 0 auto;
}

.image {
	height: 30px;
}